#root {
  background: rgb(0 0 0);
  padding-top: 15px;
  padding-bottom: 15px;
}

.App {
  text-align: center;
  border: solid 1px;
  width: 30%;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.date-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-time label {
  font-size: 18px;
  font-weight: 700;
  font-family: cursive;
  color: #9a07d7;
}
.date-time-btn {
  margin-top: 20px;
  margin-left: 60px;
}
.submit-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 9px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-right: 10px;
  border-radius: 5px;
}

.reset-button {
  background-color: #f44336; /* Green */
  border: none;
  color: white;
  padding: 9px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-right: 10px;
  border-radius: 5px;
}

.react-datetime-picker__wrapper {
  border: thin solid #9a07d7 !important;
  border-radius: 3px;
}

.react-datetime-picker__clear-button {
  display: none;
}


.show-timer {
  position: absolute;
  right: 22px;
}


@media only screen and (max-width: 600px) {
  #root {
    background: initial;
    padding: 0;
  }
 
  .App {
    width: initial;
    border: initial;
  } 
}

